@font-face {
  font-family: 'icomoon';
  src: url("fonts/btn-icomoon.eot");
  src: url("fonts/btn-icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/btn-icomoon.woff") format("woff"), url("fonts/btn-icomoon.ttf") format("truetype"), url("fonts/btn-icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.btn {
  padding: .6em .9em;
  display: inline;
  zoom: 1;
  display: inline-block;
  font-family: Arial, Sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  text-shadow: 1px 1px 0 #111;
  color: #fff;
  background: #282828;
  background: -webkit-linear-gradient(top, #030303 1%, #282828 100%);
  border: 1px solid #111;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5) inset, 0 3px 0 #111111;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5) inset, 0 3px 0 #111111;
  cursor: pointer;
  -webkit-appearance: none;
}
.btn:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset, 0 1px 0 #111111;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset, 0 1px 0 #111111;
}

.btn-white, .btn-github {
  color: #555;
  text-shadow: 1px 1px 0 #fff;
  background: #fff;
  background: -webkit-linear-gradient(top, #f0f0f0 1%, white 100%);
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 0 white inset, 0 3px 0 #d4d4d4;
  box-shadow: 0 1px 0 white inset, 0 3px 0 #d4d4d4;
}
.btn-white:active, .btn-github:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #d4d4d4;
  box-shadow: 0 0 1px white inset, 0 1px 0 #d4d4d4;
}

.btn-info, .btn-info-1, .btn-info-2 {
  color: #fff;
  text-shadow: 1px 1px 0 #1d6fa5;
  background: #3498db;
  background: -webkit-linear-gradient(top, #258cd1 1%, #3498db 100%);
  border: 1px solid #217dbb;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #217dbb;
  box-shadow: 0 0 1px white inset, 0 3px 0 #217dbb;
}
.btn-info:active, .btn-info-1:active, .btn-info-2:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #217dbb;
  box-shadow: 0 0 1px white inset, 0 1px 0 #217dbb;
}

.btn-ok, .btn-ok-1, .btn-ok-2 {
  color: #fff;
  text-shadow: 1px 1px 0 #19703e;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #229955 1%, #27ae60 100%);
  border: 1px solid #1e8449;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #1e8449;
  box-shadow: 0 0 1px white inset, 0 3px 0 #1e8449;
}
.btn-ok:active, .btn-ok-1:active, .btn-ok-2:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #1e8449;
  box-shadow: 0 0 1px white inset, 0 1px 0 #1e8449;
}

.btn-warning, .btn-warning-1, .btn-warning-2 {
  color: #fff;
  text-shadow: 1px 1px 0 #863600;
  background: #d35400;
  background: -webkit-linear-gradient(top, #b94000 1%, #d35400 100%);
  border: 1px solid #a04000;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #a04000;
  box-shadow: 0 0 1px white inset, 0 3px 0 #a04000;
}
.btn-warning:active, .btn-warning-1:active, .btn-warning-2:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #a04000;
  box-shadow: 0 0 1px white inset, 0 1px 0 #a04000;
}

.btn-error, .btn-error-1, .btn-error-2 {
  color: #fff;
  text-shadow: 1px 1px 0 #7a0f0f;
  background: #be1818;
  background: -webkit-linear-gradient(top, #a71515 1%, #be1818 100%);
  border: 1px solid #911212;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #911212;
  box-shadow: 0 0 1px white inset, 0 3px 0 #911212;
}
.btn-error:active, .btn-error-1:active, .btn-error-2:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #911212;
  box-shadow: 0 0 1px white inset, 0 1px 0 #911212;
}

.btn-info-1:before, .btn-ok-1:before, .btn-warning-1:before, .btn-error-1:before, .btn-info-2:before, .btn-ok-2:before, .btn-warning-2:before, .btn-error-2:before, .btn-chrome:before, .btn-firefox:before, .btn-ie:before, .btn-safari:before, .btn-opera:before, .btn-windows:before, .btn-apple:before, .btn-facebook:before, .btn-twitter:before, .btn-google:before, .btn-github:before, .btn-reload:before, .btn-download:before, .btn-add:before, .btn-remove:before, .btn-cancel:before, .btn-delete:before, .btn-power:before, .btn-search:before, .btn-basket:before, .btn-password:before, .btn-options:before, .btn-favorite:before, .btn-logoff:before, .btn-volume:before, .btn-mute:before, .btn-attach:before {
  margin-right: 0.5em;
  position: relative;
  top: .05em;
  font-family: icomoon;
}

.btn-info-1:before {
  content: '\e002';
}

.btn-ok-1:before {
  content: '\e001';
}

.btn-warning-1:before {
  content: '\e003';
}

.btn-error-1:before {
  content: '\e000';
}

.btn-info-2:before {
  content: '\e007';
}

.btn-ok-2:before {
  content: '\e004';
}

.btn-warning-2:before {
  content: '\e005';
}

.btn-error-2:before {
  content: '\e006';
}

.btn-chrome, .btn-firefox, .btn-ie, .btn-safari, .btn-opera, .btn-windows, .btn-apple {
  color: #777;
  text-shadow: 1px 1px 0 #fff;
  background: #fff;
  background: -webkit-linear-gradient(top, #f0f0f0 1%, white 100%);
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 0 white inset, 0 3px 0 #d4d4d4;
  box-shadow: 0 1px 0 white inset, 0 3px 0 #d4d4d4;
}
.btn-chrome:active, .btn-firefox:active, .btn-ie:active, .btn-safari:active, .btn-opera:active, .btn-windows:active, .btn-apple:active {
  position: relative;
  top: 2px;
  -webkit-box-shadow: 0 1px 0 white inset, 0 1px 0 #d4d4d4;
  box-shadow: 0 1px 0 white inset, 0 1px 0 #d4d4d4;
}

.btn-chrome:before {
  content: '\e00e';
  color: #e8383a;
}

.btn-firefox:before {
  content: '\e00f';
  color: #ed7c2e;
}

.btn-ie:before {
  content: '\e010';
  color: #1399d6;
}

.btn-safari:before {
  content: '\e012';
  color: #31afbd;
}

.btn-opera:before {
  content: '\e011';
  color: #b90b0b;
}

.btn-windows:before {
  content: '\e00c';
  color: #00adf1;
}

.btn-apple:before {
  content: '\e00d';
  color: #bbb;
}

.btn-facebook {
  text-shadow: 1px 1px 0 #273964;
  background: #3c599b;
  background: -webkit-linear-gradient(top, #2e4476 1%, #3c599b 100%);
  border: 1px solid #2e4476;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #2e4476;
  box-shadow: 0 0 1px white inset, 0 3px 0 #2e4476;
}
.btn-facebook:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #2e4476;
  box-shadow: 0 0 1px white inset, 0 1px 0 #2e4476;
}
.btn-facebook:before {
  content: '\e009';
}

.btn-twitter {
  text-shadow: 1px 1px 0 #0075a2;
  background: #00acee;
  background: -webkit-linear-gradient(top, #0087bb 1%, #00acee 100%);
  border: 1px solid #0087bb;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #0087bb;
  box-shadow: 0 0 1px white inset, 0 3px 0 #0087bb;
}
.btn-twitter:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #0087bb;
  box-shadow: 0 0 1px white inset, 0 1px 0 #0087bb;
}
.btn-twitter:before {
  content: '\e00a';
}

.btn-google {
  text-shadow: 1px 1px 0 #80251b;
  background: #bf3729;
  background: -webkit-linear-gradient(top, #952b20 1%, #bf3729 100%);
  border: 1px solid #952b20;
  -webkit-box-shadow: 0 0 1px white inset, 0 3px 0 #952b20;
  box-shadow: 0 0 1px white inset, 0 3px 0 #952b20;
}
.btn-google:active {
  -webkit-box-shadow: 0 0 1px white inset, 0 1px 0 #952b20;
  box-shadow: 0 0 1px white inset, 0 1px 0 #952b20;
}
.btn-google:before {
  content: '\e008';
}

.btn-github:before {
  content: '\e00b';
}

.btn-reload:before {
  content: '\e013';
}

.btn-download:before {
  content: '\e014';
}

.btn-add:before {
  content: '\e015';
}

.btn-remove:before {
  content: '\e016';
}

.btn-cancel:before {
  content: '\e017';
}

.btn-delete:before {
  content: '\e019';
}

.btn-power:before {
  content: '\e018';
}

.btn-search:before {
  content: '\e01a';
}

.btn-basket:before {
  content: '\e01b';
}

.btn-password:before {
  content: '\e01c';
}

.btn-options:before {
  content: '\e01d';
}

.btn-favorite:before {
  content: '\e01e';
}

.btn-logoff:before {
  content: '\e01f';
}

.btn-volume:before {
  content: '\e020';
}

.btn-mute:before {
  content: '\e021';
}

.btn-attach:before {
  content: '\e022';
}

.btn-small {
  font-size: 12px;
  font-size: 0.75rem;
}

.btn-xsmall {
  font-size: 10px;
  font-size: 0.625rem;
}

.btn-large {
  font-size: 20px;
  font-size: 1.25rem;
}

.btn-xlarge {
  font-size: 24px;
  font-size: 1.5rem;
}
